.header-appear {
  opacity: 0.01;
}

.header-appear.header-appear-active {
  opacity: 1;
  transition: opacity .8s ease-in;
}

.copy-appear {
  opacity: 0.01;
}

.copy-appear.copy-appear-active {
	opacity: 1;
	transition-delay: 2s; /* wait one second before starting the transition animation */
  transition: opacity 2s ease-in;
}
.remove-btn {
  margin-right: 0.5rem;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
